  body {
    margin: 0;
    padding: 0;
  }

  /* Barre de navigation horizontale */
  .container {
    overflow-x: scroll;  Permet le défilement horizontal 
    white-space: nowrap;
    -webkit-overflow-scrolling: touch; 
    padding: 10px;
    margin-bottom: -15px; /* Marge négative pour masquer la barre de défilement hors de la vue */
    background: linear-gradient(#ff4655,#111111);
    
  }

  .container img {
    display: block;
  }

  .container .menu {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 0px;
    gap: 20px; 
    scrollbar-width: thin; /* Pour Firefox */
    scrollbar-color: transparent transparent; /* Pour Firefox */
    overflow-x: auto; /* Pour Chrome et Safari */
  }

  .personnage {
    width: calc(100vw /3 - 20px); /* Calcul de la largeur pour afficher 3 éléments */
    box-sizing: border-box;
    padding: 20px;
  }

  .container::-webkit-scrollbar {
    width: 10px;
  }

  /* Images personnages en haut */
  #breach{ 
    width: auto;
    height: 80%;
   }

  #fade { 
    width: auto;
    height: 80%;
  }

  #gekko { 
    width: auto;
    height: 85%;
  }

  #kayo { 
    grid-area: Perso-4;
    width: auto;
    height: 75%;
  }

  #skye { 
    width: auto;
    height: 75%;
  }

  #sova { 
    width: auto;
    height: 75%;
  }





  /* Icônes à gauche + texte */
  .container2 {  
    display: grid;
    grid-template-columns: auto 70%;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0px 30px;
    grid-auto-flow: row;
    grid-template-areas:
      "CPT content"
      "CPT content"
      "CPT content1"
      "CPT content1";
    background: linear-gradient(#111111,#ff4655);
    /*align-items: center;  Centre le contenu verticalement */
    justify-content: space-between;
    justify-items: center;
  }

  .competence{
    grid-area: CPT; 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: -100%;
  }
  .competences {
    outline: 5px solid #FBFBFB;
    padding: 10px; /* Ajoute un espace intérieur à chaque image */
    border-radius: 80px;
    box-sizing: border-box;
    margin-left: 15%;
    height: fit-content;
    padding: 20px;
  }

  #gekkocpt {
    width: 200px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;
  }


  /* Icône compétence 1 */
  #cpt1{ 
    grid-area: CPT1; 
    width: auto;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;
  }


  /* Icône compétence 2 */ 
  #cpt2{
    grid-area: CPT2;
    width: auto;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;
  }

  /* Icône compétence 3 */
  #cpt3{
    grid-area: CPT3;
    width: auto;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;
  }

  /* Icône compétence 4 */
  #cpt4{ 
    grid-area: CPT4;
    width: auto;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;
  }

  /* Vidéo compétence */
  #content {
    grid-area: content; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: 10%;
    width: auto;
    height: 30%;

  }

  /* Texte explicatif */
  #content1 {
    grid-area: content1; 
    display: block;
    margin-top: -35%;
    margin-bottom: auto;
    margin-left: 5%;
    margin-right: 5%;
    text-align: justify;
    font-size: 300%;
    color: #FBFBFB;
  }




/* Tablette */
@media screen and (700px<=width) {
  .image-grid {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}

/* Ordinateur */
@media only screen and (1000px<=width){ 
  /* Barre de navigation horizontale */
  .container {
    height: 200px;
    padding: 0px;
    overflow-x: scroll;
    overflow-y: hidden;
  }

  .container .menu {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0px;
  gap: 20px; 
  overflow-x: scroll;
  overflow-y: hidden;
  }

  .personnage {
  width: auto;
  box-sizing: border-box;
  padding: 20px;
  height: 200px;
  margin-left: 100px;
  }

  .container2 {  
  display: grid;
  grid-template-columns: auto repeat(2,30%);
  grid-template-rows: 1fr 1fr 1fr;
  grid-auto-flow: row;
  grid-template-areas:
    "CPT CPT CPT "
    "content1 content content"
    "content1 content content";
  background: linear-gradient(#111111,#ff4655);
  /*align-items: center;  Centre le contenu verticalement */
  justify-content: space-between;
  justify-items: center;
  overflow-x: hidden;
  }

  .competence{
  grid-area: CPT; 
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-right: 15%;
  margin-top: 0%;
  }


  #content1 {
    font-size:150%;
    margin-top: 10%;
  }

  #content {
    margin-top: -5%;
    height: 50%;
    width: auto;
  }

  /* Icône compétence 1 */
  #cpt1{ 
    width: auto;
    height: 100px;
  }


  /* Icône compétence 2 */ 
  #cpt2{
    width: auto;
    height: 100px;
  }

  /* Icône compétence 3 */
  #cpt3{
    width: auto;
    height: 100px;
  }

  /* Icône compétence 4 */
  #cpt4{ 
    width: auto;
    height: 100px;
  }


  #gekkocpt {
    width: auto;
    height: 100px;
  }
  
  .container2 {
    grid-auto-rows: 200px;
  }

  .competence {
    height: 75%;
    width: 60%;
  }

  

  body {
    /* rajouter image du background */
  }
}