*{
    box-sizing: border-box;
    margin: 2;

}

body {
	 background: linear-gradient(grey,#ff4655);
}

h1 {
	font-size: 500%;
	padding: 0.5rem;
	text-align: center;
    display: block;
}


#logo{
    height: 50%;
	width: 0%;
 }
 

h2 {
	font-size: 270%;
	color: rgb(206, 206, 222);
	
}

nav {
	font-size: 400%;
}

nav ul{
    padding: 0px;
    list-style-type: none;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

nav ul li a {
    border: 5px solid red;
    display: block;
    padding: 1.5rem;
    text-decoration: none;
}

a {
    text-decoration: none;
}

a:link {
	color: black;
}


a:hover {
	color:#f44336
}

a:visited {
	color: black;
}


img {
	height: 120px;
	width: auto;
    
}


h3 {
	font-size: 200%;
	margin: 3px;
	padding: 0.5rem;
}

h3>a:hover {
    color: #e0cbcb;
}

h3 > a {
		text-decoration: none;
}


p {
	margin: 3px;
	padding: 0.5rem;
	font-size: 170%;
	text-align: justify;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


main {
	display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}




.conteneur {
	height: 100vh;
	display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 100px min-content auto auto 100px;
    grid-template-areas: 
        "Entete"
        "Menu"
        "Contenu"
        "Pied";
}

header{
    grid-row: 2;
    grid-column: 1;
    grid-area: Entete;
}

nav{
    grid-row: 2;
    grid-column: 1;
    grid-area: Menu;
}

main{
    grid-row: 2;
    grid-column: 1;
    grid-area: Contenu;
}
footer{
    grid-row: 5;
    grid-column: 1;
    grid-area: Pied;
}



