/* Définition de la mise en page en grille 16x3 */
.container {  
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "Header Header Header"
        "Nav Nav Nav"
        ". Titre ."
        "Description Description Description"
        ". Titre2 ."
        "Haven Haven Haven"
        "Split Split Split"
        "Bind Bind Bind"
        "Ascent Ascent Ascent"
        "Icebox Icebox Icebox"
        "Breeze Breeze Breeze"
        "Fracture Fracture Fracture"
        "Pearl Pearl Pearl"
        "Lotus Lotus Lotus"
        "Sunset Sunset Sunset"
        "Footer Footer Footer";
}

/* Styles pour les écrans de petite taille */
@media only screen and (max-width: 768px) {
    /* Définition de la mise en page en grille 16x4 */
    .container {  
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "Header Header Header"
            "Nav Nav Nav"
            ". Titre ."
            "Description Description Description"
            ". Titre2 ."
            "Haven Haven Haven"
            "Split Split Split"
            "Bind Bind Bind"
            "Ascent Ascent Ascent"
            "Icebox Icebox Icebox"
            "Breeze Breeze Breeze"
            "Fracture Fracture Fracture"
            "Pearl Pearl Pearl"
            "Lotus Lotus Lotus"
            "Sunset Sunset Sunset"
            "Footer Footer Footer";
    }

    /* Style pour les éléments h2 sur les petits écrans */
    h2 {
        background-color: #333; /* Fond sombre pour une meilleure lisibilité */
        color: #fff; /* Texte blanc */
        padding: 10px; /* Espacement interne */
        border-radius: 5px; /* Bordure arrondie */
    }

    /* Souslignement des titres h2 sur les petits écrans */
    h2::after {
    height: 1px; /* Hauteur du souslignage */
    }
}


/* Affectation des différentes zones de la grille */
.Titre { grid-area: Titre; }

.Description { 
    grid-area: Description; 
    text-align: justify; /* Définition du style de texte en justifié */
    background-color: gray; /* Fond gris clair */
    border: thick double black; /* Bordure grise */
    padding: 15px; /* Marge interne */
}

.Titre2 { grid-area: Titre2; }

.Haven { grid-area: Haven; }

.Split { grid-area: Split; }

.Bind { grid-area: Bind; }

.Ascent { grid-area: Ascent; }

.Icebox { grid-area: Icebox; }

.Breeze { grid-area: Breeze; }

.Fracture { grid-area: Fracture; }

.Pearl { grid-area: Pearl; }

.Lotus { grid-area: Lotus; }

.Sunset { grid-area: Sunset; }

/* Style du fond de la page en dégradé */
body{
    background: linear-gradient(45deg,#FF4655 , #111111); 
}

/* Style des images */
img {
    width: 50%; /* Largeur de 50% */
    height: 40%; /* Hauteur de 40% */
    border-radius: 25% 10%; /* Bordure arrondie */
}

/* Style pour les titres h2 */
h2 {
    font-family: 'Helvetica', sans-serif; /* Police d'écriure */
    font-size: 1.5em; /* Taille du texte */
    color: #ffffff; /* Texte en blanc pour un fond en dégradé */
    text-align: center; /* Alignement vers le centre */
    margin-bottom: 10px; /* Marge en bas de l'élément de 10px */
    position: relative; /* Définition d'un positionnement relative */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Ajout d'une ombre au texte */
}

/* Souslignement des titres h2 */
h2::after {
    content: ""; /* Contenu vide pour créer l'élément de souslignage */
    position: absolute; /* Définition d'un positionnement absolue */
    bottom: 0; /* Positionnement au bas de l'élément parent */
    left: 50%; /* Positionnement à 50% de la largeur de l'élément parent */
    transform: translateX(-50%); /* Centre l'élément horizontalement */
    width: 30%; /* Largeur du soulignage à 30% de la largeur de l'élément parent */
    height: 2px; /* Hauteur du souslignage */
    background-color: whitesmoke; /* Soulignage blanc pour un fond en dégradé */
}

/* Style pour les titres h3 du main*/
main h3 {
    font-family: 'Helvetica', sans-serif; /* Police d'écriure */
    font-size: 4vh; /* Taille du texte */
    color: black; /* Texte en noir */
    text-align: center; /* Alignement vers le centre */
    margin-bottom: 10px; /* Marge en bas de l'élément de 10px */
    position: relative; /* Définition d'un positionnement relative */
}

/* Souslignement des titres h3 du main */
main h3::after {
    content: ""; /* Contenu vide pour créer l'élément de souslignage */
    position: absolute; /* Définition d'un positionnement absolue */
    bottom: 0; /* Positionnement au bas de l'élément parent */
    left: 50%; /* Positionnement à 50% de la largeur de l'élément parent */
    transform: translateX(-50%); /* Centre l'élément horizontalement */
    width: 50%; /* Largeur du soulignage à 50% de la largeur de l'élément parent */
    height: 2px; /* Hauteur du souslignage */
    background-color: black; /* Soulignage en noir */
}

/* Style pour les articles */
article {
    position: relative; /* Définition d'un positionnement relative */
    margin: 3% 5% 3% 5%; /* Paramétrage des marges */
    text-align: justify; /* Définition du style de texte en justifié */
}

/* Style des articles lorsqu'ils sont survolés*/
article:hover {
    margin: 1% 2% 1% 2%; /* Paramétrage des marges */
    cursor: pointer; /* Style du pointeur de souris */
    color: black; /* Texte en noir */
}

/* Style des titres h3 de la class img_left */
.img_left h3 {
    position: absolute; /* Définition d'un positionnement absolue */
    font-size: 3vw; /* Taille du texte */
    right: 22%; /* Positionnement à 22% de la largeur de l'élément parent du coté droit*/
    top: 4%;
}

/* Style des paragraphes de la class img_left */
.img_left p {
    font-size: 1.4vw; /* Taille du texte */
    position: absolute; /* Définition d'un positionnement absolue */ 
    left: 52%; /* Positionnement à 52% de la largeur de l'élément parent du coté gauche */
    right: 2%;
    top: 35%;
}

/* Style des titres h3 de la class img_right */
.img_right h3 {
    font-size: 3vw; /* Taille du texte */
    position: absolute; /* Définition d'un positionnement absolue */
    left: 22%; /* Positionnement à 22% de la largeur de l'élément parent du coté gauche */
    top: 4%; /* Positionnement à 4% de la largeur de l'élément parent du coté gauche */
}

/* Style des paragraphes de la class img_right */
.img_right p {
    font-size: 1.4vw; /* Taille du texte */
    position: absolute; /* Définition d'un positionnement absolue */
    right: 52%; /* Positionnement à 52% de la largeur de l'élément parent du coté droit*/
    left: 2%; /* Positionnement à 2% de la largeur de l'élément parent du coté gauche */
    top: 35%; /* Positionnement à 35% de la hauteur de l'élément parent du haut */
}

/* Style des images de la class img_right */
.img_right img {
    position: relative; /* Définition d'un positionnement relative */
    left: 50%; /* Positionnement à 50% de la largeur de l'élément parent du coté gauche*/
    top: 10%; /* Positionnement à 35% de la hauteur de l'élément parent du haut */
}

/* Style des liens hypertextes */
a{
    color: black; /* Texte en noir */
}

/* Style des liens hypertextes déjà visités*/
a:active {
    color: black; /* Texte en noir */
}

/* ---------------- */
/*  Header Footer   */
/* ---------------- */


footer p{
    color: #FBFBFB;
}
header { 
    place-items: center;
    padding: 5%;
    padding-bottom: 0%;
    display: grid; 
    grid-template-columns: 20% auto 20%; 
    grid-template-rows: 100%; 
    gap: 0px 0px; 
    grid-template-areas:"homepage titre logo";
    grid-area:Header; 
    justify-items: center; 
    align-items: center; 
}

/* Définie les noms des cellules */
nav { grid-area: Nav;}
main { grid-area: content;}
footer { grid-area: Footer; }
.logo { grid-area: logo;
    align-self: center;
    width: 100%; /* Ajuste la largeur du logo */
    height: auto; /* Garde la hauteur proportionnelle à la largeur */
    }
.titre { grid-area: titre;
    align-self: center;
    text-align: center;
    text-decoration: solid;
    color: #FBFBFB;
    text-shadow: 0 0 7px #FBFBFB,
    0 0 10px #FBFBFB;
}

/* Lien et image pour l'Accueil */
.homelink {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: homepage;
    width: 30%;
}
.homeicon {
    width: 100%;
    height: auto;
}

/* Navigation */
.agents{
    transition-duration: 5ms;
    font-size: 125%;
    text-decoration: none;
    color: #FBFBFB;
    text-shadow: 0 0 7px #FBFBFB,
    0 0 10px #FBFBFB;
}
.armes{
    transition-duration: 5ms;
    font-size: 125%;
    text-decoration: none;
    color: #FBFBFB;
    text-shadow: 0 0 7px #FBFBFB,
    0 0 10px #FBFBFB;
}

.boutique{
    transition-duration: 5ms;
    font-size: 125%;
    text-decoration: none;
    color: #FBFBFB;
    text-shadow: 0 0 7px #FBFBFB,
    0 0 10px #FBFBFB;
}

.maps{
    transition-duration: 5ms;
    font-size: 125%;
    text-decoration: none;
    color: #FBFBFB;
    text-shadow: 0 0 7px #FBFBFB,
    0 0 10px #FBFBFB;
}

.barre{
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    padding: 1%;
    border-style: solid;
    border-color: #111111;
    border-radius: 5%;
    background: radial-gradient(#FF4655, #111111);
    gap: 5%;
}

/* Footer */
footer{
    background-color: #4E4E4E;
    width: 90%;
    padding: 5%;
    padding-top: 0%;
    border-bottom-left-radius: 1%;
    border-bottom-right-radius: 1%;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-items: center;
    align-items: center;
    grid-template-areas:
        "LOGO Titre Version"
        "contacter Sources Sites-Officiel";
}
      
.textefoot{
    font-size: 100%;
}

.LOGO { grid-area: LOGO;
    align-self: center;
    width: 75%; /* Ajuste la largeur du logo */
    height: auto; /* Garde la hauteur proportionnelle à la largeur */ }

.Titre { grid-area: Titre;
    justify-content: flex-start;
    font-size: 100%;
    align-self: center;
    text-align: center;
    text-decoration: solid;
    color: #FBFBFB;
    text-shadow: 0 0 7px #FBFBFB,
    0 0 10px #FBFBFB; 
}

.Version { grid-area: Version;
    font-size: 100%;
    align-self: center;
    text-align: center;
    text-decoration: solid;
    color: #FBFBFB;
    text-shadow: 0 0 7px #FBFBFB,
    0 0 10px #FBFBFB; 
}

.contacter { grid-area: contacter;
    border-right: 2px #111111 solid;
    padding: 2%;
    }

.Sources { grid-area: Sources; 
    border-right: 2px #111111 solid;
    padding: 17%;
    padding-left: 5%;
}
.linkwikis{
    text-decoration: none;
    color: #FBFBFB;
}

.Sites-Officiel { grid-area: Sites-Officiel; 
    display: grid; 
    grid-template-columns:  50% auto; 
    grid-template-rows: auto auto; 
    gap: 0px 0px; 
    grid-template-areas: 
      "Logo-valo Valo"
      "Logo-riot Riot"; 
    grid-area: Sites-Officiel; 
  }
  .linkValo { grid-area: Logo-valo; 
    width: 100%; /* Ajuste la largeur du logo */
    height: auto; /* Garde la hauteur proportionnelle à la largeur */}
  .linkRiot { grid-area: Logo-riot;
    width: 100%; /* Ajuste la largeur du logo */
    height: auto; /* Garde la hauteur proportionnelle à la largeur */ }
  .Valo { grid-area: Valo; }
  .Riot { grid-area: Riot; } 

      
/* Animations */
nav li{
    list-style: none;
}

.sub_menu_agents {
    display: none;
    position: absolute;
    background: linear-gradient(#FF4655, #111111); /* Couleur de fond du sous-menu */
    padding: 2%;
    border-radius: 5%; /* Pour arrondir les coins du sous-menu */
}

.barre li:hover .sub_menu_agents {
    display: block;
    z-index: 5;
}

.sub_menu_agents > li > a{
    text-decoration: none;
    color: #FBFBFB;
    font-weight: bold;
}


.sub_menu_armes {
    display: none;
    position: absolute;
    background: linear-gradient(#FF4655, #111111); /* Couleur de fond du sous-menu */
    padding: 2%;
    border-radius: 5%; /* Pour arrondir les coins du sous-menu */
}

.barre li:hover .sub_menu_armes {
    display: block;
    z-index: 5;
}

.sub_menu_armes > li > a{
    text-decoration: none;
    color: #FBFBFB;
    font-weight: bold;
}



